h1 {
	background-color: black;
	color: orange;
	text-align: center;
}

p {
	background-color: maroon;
	color: silver;
	text-align: center;
}

div.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: yellow;
	padding: 20px;
	font-size: 16px;
}