h1 {
	background-color: black;
	color: yellow;
	text-align: center;
}

p {
	background-color: black;
	color: orangered;
	text-align: center;
	font-size: 200%;
} 


div.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	background-color: orangered;
	padding: 20px;
	font-size: 16px;
}

footer{
	background-color: black;
	color: yellow;
	text-align: center;
	font-size: 170%;
}
h2{
	background-color: black;
	color: yellow;
	display: initial;
	text-align: center;
}
ol li{
	color: orangered;
}
article{
	background-color: black;
}